body, html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    background-attachment: fixed;
    background-image: url("../images/niklas-rhose-FlmXvqlD-nI-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }